@model  Domains.Usuario

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="./images/favicon.png">
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>

<body>
    <div class="content-body">
        <div class="container-fluid">
            <div class="row page-titles mx-0">
                <!-- row -->
                <center>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="profile">
                                <div class="profile-head">
                                    <div class="profile-info">
                                        <div class="row justify-content-center">
                                            <div class="col-xl-8">
                                                <div class="row">
                                                    @if (User.Identity.IsAuthenticated)
                                                    {
                                                        string id = User.Claims.FirstOrDefault(c => c.Type == System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;
                                                        string filePath = "~/imgPessoa/" + id + ".jpg";
                                                        <div class="photo-content">

                                                            <div class="profile-photo">
                                                                <img style="width: 300px; height: 300px; " src="@Url.Content(filePath)" class="img-fluid. max-width: 100%" alt="this is your profile image">
                                                            </div>

                                                            <br />
                                                        </div>
                                                    }
                                                    <div style="align-content: start;" class="col-xl-10 col-sm-4 border-right-1 prf-col">
                                                        <div class="profile-name">
                                                            <h4 class="text-primary">@Model.Nome</h4>
                                                            @*<p>Desenvolvedor De Software</p>*@
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </center>
                
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="profile-statistics">
                                    <div class="text-center mt-4 border-bottom-1 pb-3">
                                        <div class="row">
                                            <div class="col">
                                                <h3 class="m-b-0">150</h3><span>Seguidores</span>
                                            </div>
                                            <div class="col">
                                                <h3 class="m-b-0">100</h3><span>Seguindo</span>
                                            </div>
                                            <div class="col">
                                                <h3 class="m-b-0">45</h3><span>Visitas ao Perfil</span>
                                            </div>
                                        </div>
                                        <div class="mt-4">
                                            <a href="javascript:void()" class="btn btn-primary pl-5 pr-5 mr-3 mb-4">Seguir</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="profile-blog pt-3 border-bottom-1 pb-1">
                                    <h5 class="text-primary d-inline">Você pode gostar também:</h5><a href="javascript:void()" class="pull-right f-s-16"></a>
                                    <img src="~/img/profile/entra21-profile-image.png" alt="" class="img-fluid mt-4 mb-4 w-100">
                                    <h4>Amostra de Talentos Entra21</h4>
                                    <p>Durante os dias 20/10 e 21/10 acontecerá a amostra de talentos do curso Entra21. Diversos alunos de Blumenau irão mostrar seus projetos onde compareceram também as empresas parceiras do curso.</p>
                                </div>
                                <div class="profile-interest mt-4 pb-2 border-bottom-1">
                                    <h5 class="text-primary d-inline">Interesses</h5>
                                    <div class="row mt-4">
                                        @foreach (var item in Model.Tags)
                                        {
                                            <div class="col-lg-4 col-xl-4 col-sm-4 col-6 int-col">
                                                <a href="javascript:void()" class="interest-cat">
                                                    <p>@item.Nome</p>
                                                </a>
                                            </div>
                                        }

                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="card">
                            <div class="card-body">
                                <div class="profile-tab">
                                    <div class="custom-tab-1">
                                        <ul class="nav nav-tabs">
                                            <li class="nav-item">
                                                <a href="#my-posts" data-toggle="tab" class="nav-link active show">Eventos Criados</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#my-events" data-toggle="tab" class="nav-link">Eventos Participados</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#about-me" data-toggle="tab" class="nav-link">Sobre mim</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content">
                                            <div id="my-posts" class="tab-pane fade active show">
                                                <div class="my-post-content pt-3">
                                                    <br />
                                                    <div class="profile-uoloaded-post border-bottom-1 pb-5">
                                                        @foreach (var item in Model.EventosCriados)
                                                        {
                                                            <img style="width: 650px; height: 359px;" src="/img/profile/profile-party-image.png" alt="" class="img-fluid">
                                                            <br />
                                                            <br />
                                                            <div>

                                                            </div>
                                                            <a class="post-title" href="/Evento/Details/@item.ID">
                                                                <h4>@item.Nome</h4>
                                                            </a>
                                                            <p>
                                                                @item.Descricao
                                                            </p>
                                                            <p>Início: @item.DataHoraInicio. Fim: @item.DataHoraFim.</p>
                                                            <hr />
                                                            @*foreach (var item2 in item.Tags)
                        {
                            <button type="button" class="btn btn-outline-primary mb-1">@item2.Nome</button>
                        }*@

                                                            //                                                @*<button style="margin: 2px;" class="btn btn-primary mr-3">
                                                            //    <span class="mr-3">
                                                            //        <i class="fa fa-thumbs-up"></i>
                                                            //    </span>Like
                                                            //</button>
                                                            //<button style="margin: 2px;" class="btn btn-primary mr-3">
                                                            //    <span>
                                                            //        <i class="fa fa-thumbs-down"></i>
                                                            //    </span>Dislike
                                                            //</button>

                                                            //<button class="btn btn-secondary">
                                                            //    <span class="mr-3">
                                                            //        <i class="fa fa-reply"></i>
                                                            //    </span>Compartilhar
                                                            //</button>*@
                                                        }

                                                    </div>
                                                </div>
                                            </div>



                                            <div id="my-events" class="tab-pane fade">
                                                <div class="my-post-content pt-3">
                                                    <br />
                                                    <div class="profile-uoloaded-post border-bottom-1 pb-5">
                                                        @foreach (var item in Model.EventosParticipados)
                                                        {
                                                            <img style="width: 650px; height: 359px;" src="/img/profile/profile-party-image.png" alt="" class="img-fluid">
                                                            <br />
                                                            <br />
                                                            <div>

                                                            </div>
                                                            <a class="post-title" href="/Evento/Details/@item.ID">
                                                                <h4>@item.Nome</h4>
                                                            </a>
                                                            <p>
                                                                @item.Descricao
                                                            </p>
                                                            <p>Início: @item.DataHoraInicio. Fim: @item.DataHoraFim.</p>
                                                            <hr />
                                                            @*foreach (var item2 in item.Tags)
                        {
                            <button type="button" class="btn btn-outline-primary mb-1">@item2.Nome</button>
                        }*@

                                                            //                                                @*<button style="margin: 2px;" class="btn btn-primary mr-3">
                                                            //    <span class="mr-3">
                                                            //        <i class="fa fa-thumbs-up"></i>
                                                            //    </span>Like
                                                            //</button>
                                                            //<button style="margin: 2px;" class="btn btn-primary mr-3">
                                                            //    <span>
                                                            //        <i class="fa fa-thumbs-down"></i>
                                                            //    </span>Dislike
                                                            //</button>

                                                            //<button class="btn btn-secondary">
                                                            //    <span class="mr-3">
                                                            //        <i class="fa fa-reply"></i>
                                                            //    </span>Compartilhar
                                                            //</button>*@
                                                        }

                                                    </div>
                                                </div>
                                            </div>




                                            <div id="about-me" class="tab-pane fade">
                                                <div class="profile-about-me">
                                                    <div class="pt-4 border-bottom-1 pb-4">
                                                        <h4 class="text-primary">Sobre Mim</h4>
                                                        <p>
                                                            Olá me chamo Pedro tenho 20 anos, atualmente trabalho como desenvolvedor de software e no meu tempo livre gosto muito de festas e estou em busca de novas companhias e amizades para ir as festas comigo. Se gostar do meu perfil e gostos me siga :)
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="profile-skills pt-2 border-bottom-1 pb-2">
                                                    <h4 class="text-primary mb-4">Gostos Pessoais</h4>
                                                    <a href="javascript:void()" class="btn btn-outline-dark btn-rounded pl-4 my-3 my-sm-0 pr-4 mr-3 m-b-10">Festas</a>
                                                    <a href="javascript:void()" class="btn btn-outline-dark btn-rounded pl-4 my-3 my-sm-0 pr-4 mr-3 m-b-10">Bebidas</a>
                                                    <a href="javascript:void()" class="btn btn-outline-dark btn-rounded pl-4 my-3 my-sm-0 pr-4 mr-3 m-b-10">Música</a>
                                                    <a href="javascript:void()" class="btn btn-outline-dark btn-rounded pl-4 my-3 my-sm-0 pr-4 mr-3 m-b-10">Novas Amizades</a>
                                                </div>
                                                <br />
                                                <div class="profile-personal-info">
                                                    <h4 class="text-primary mb-4">Informações Pessoais</h4>
                                                    <div class="row mb-4">
                                                        <div class="col-3">
                                                            <h5 class="f-w-500">
                                                                Nome <span class="pull-right">:</span>
                                                            </h5>
                                                        </div>
                                                        <div class="col-9">
                                                            <span>Pedro da Silva</span>
                                                        </div>
                                                    </div>
                                                    <div class="row mb-4">
                                                        <div class="col-3">
                                                            <h5 class="f-w-500">
                                                                Idade <span class="pull-right">:</span>
                                                            </h5>
                                                        </div>
                                                        <div class="col-9">
                                                            <span id="idade">18</span>
                                                        </div>
                                                    </div>
                                                    <div class="row mb-4">
                                                        <div class="col-3">
                                                            <h5 class="f-w-500">Cidade<span class="pull-right">:</span></h5>
                                                        </div>
                                                        <div class="col-9">
                                                            <span>
                                                                Blumenau-SC
                                                            </span>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- Required vendors -->
    <script src="~/js/demo/uploadImages.js"></script>
    <script src="./vendor/global/global.min.js"></script>
    <script src="./js/quixnav-init.js"></script>
    <script src="./js/custom.min.js"></script>
    <script src="~/js/calcularidade.js"></script>

    

</body>

</html>